<%= render "layouts/navbar" %>
<%= render "layouts/banner" %>


<div class="container">
  <div id="title-list">
    <h1>Votre liste : <%=@list.name %></h1>
     <%= link_to "Add a movie", new_list_bookmark_path(@list), id:"add_movie" %>
</div>

  <ul class="cards">
    <% @bookmarks.each do |bookmark| %>
      <li class="card-show" >
        <div class="title-image" style="background-image:url('<%= bookmark.movie.poster_url%>');background-size: cover; background-position: center;">
        </div>
        <div class="title-card">
          <p><%= bookmark.movie.title%></p>
          <i class="fa-solid fa-circle"></i>
          <%= bookmark.movie.rating%>
          <i class="fa-solid fa-star"></i>
        </div>
        <div class="title-overview">
          <%= bookmark.movie.overview%>
        </div>

        <%= link_to "X",
          bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "close_card"
        %>
      </li>
    <% end %>


  </ul>

  <section class="review_section" >

<div class="container flex_review">
    <ul class="reviews_list">
      <h3>Reviews</h3>
      <% @reviews.each do |review| %>
      <li>
        <div class="reviews_list_inline">
          <% if review.rating != nil %>
            <% stars= review.rating  %>
            <% stars.times do  %>
             <i class="fa-solid fa-star"></i>
            <% end %>
          <% end %>
          <% time = Time.now %>
          <%resultat_time = ((time - review.created_at.to_time)/60).floor %>
          <% if resultat_time == 0 %>
          <span><%= "less than a minute" %></span>
          <% end %>
          <% if resultat_time > 0 && resultat_time < 60 %>
          <span><%= "there are #{resultat_time} minutes" %></span>
          <% end %>
          <% if resultat_time > 60 && resultat_time < 1440 %>
          <span><%= "there are  #{resultat_time/60} hours" %></span>
          <% end %>
          <% if resultat_time > 1440  %>
          <span><%= "there are  #{resultat_time/60/24} days" %></span>
          <% end %>


        </div>
        <p class="review_comment">
        <%= review.comment %>
        </p>
      </li>
      <% end %>
    </ul>
<%= render "review_new" %>
</div>
</section>


</div>
